.booking {
    margin: 40px auto;
    font-family: "Manrope", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booking__form {
    box-shadow: 5px 5px 70px rgba(173, 185, 197, .5);
    border-radius: 16px;
    padding: 20px 72px 40px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.booking__title {
    margin: 20px auto 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: 29px;
    max-width: 300px;
}

.booking__label {
    text-align: left;
    padding: 10px 0 0;
}

.booking__input {
    color: #a9a2a2;
    font-size: 13px;
    line-height: 18px;
    cursor: pointer;
    border: 1px solid #a9a2a2;
    border-radius: 4px;
    height: 34px;
    min-width: 344px;
    box-shadow: none;
    caret-color: transparent;
    text-align: center;
    transition: box-shadow .3s ease-in-out;
}

.booking__input:valid {
    color: black;
    border: 1px solid black;
}

.booking__input::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

.booking__input:not(.booking__icon-container:hover + .booking__input):hover {
    outline: none;
    box-shadow: 0 0 5px #a9a2a2;
}

.booking__input:focus {
    outline: none;
}

.booking__container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.booking__container:hover .booking__input:not(.booking__icon-container:hover + .booking__input) {
    box-shadow: 0 0 5px #a9a2a2;
}

.booking__icon-container {
    position: absolute;
    top: 70%;
    right: 0.5rem;
    transform: translateY(-50%);
}

.booking__icon {
    display: block;
    font-size: 1rem;
    color: #a9a2a2;
    border-left: 1px solid rgb(204 204 204);
    padding: 2px 2px 3px 11px;
    transition: color .3s ease-in-out;
    z-index: 1;
}

.booking__icon:hover {
    color: black;
    cursor: pointer;
}

.booking__icon:hover~.booking__input:not(.booking__icon-container:hover + .booking__input) {
    box-shadow: 0 0 5px #a9a2a2;
}

.booking__comment-input {
    color: #a9a2a2;
    font-size: 13px;
    line-height: 18px;
    cursor: pointer;
    border: 1px solid #a9a2a2;
    border-radius: 4px;
    height: 54px;
    min-width: 334px;
    box-shadow: none;
    text-align: left;
    padding-left: 10px;
    transition: box-shadow .3s ease-in-out;
}

.booking__comment-input:hover {
    box-shadow: 0 0 5px #a9a2a2;
}

.booking__comment-input:placeholder-shown {
    color: #a9a2a2;
    border: 1px solid #a9a2a2;
}

.booking__comment-input:not(:placeholder-shown) {
    color: black;
    border: 1px solid black;
}

.booking__comment-input:focus {
    outline: none;
}

.booking__button {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    background: #f1f1f1;
    max-width: 100%;
    padding: 14px 0;
    margin: 15px 0 0;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #a9a2a2;
    transition: color .3s ease-in-out, opacity .3s ease-in-out, ;
}

.booking__button:hover {
    opacity: .8;
    color: #a9a2a2;
}